# =========================
# Build
# =========================
bin/
obj/
Debug/
Release/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.cache
*.log
*.tmp

# =========================
# Test project
# =========================
*.Tests/
*Tests/

# =========================
# Resources
# =========================
Properties/Resources.*